
#arrow {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000000000;
    font-size: 30px;
    cursor: pointer;
    background-color:white;
    border: 1px grey solid;
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2px;
    font-family: Arial;
    font-weight: normal;
}

#blocked-websites {
  padding-left: 0px;
  margin: 0px;
  margin-top: 5px;
  text-align: center;
  height: 100px;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

#blocked-websites:hover {
  box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,1);
}

#blocked-websites li {
  margin-bottom: 5px;
}

#blocked-websites button {
  height: 20px;
  margin-left: 5px;
}


#flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 95%;
  left: 5px;
}

#form-error {
  display:inline-block;
}

.website-half {
  background: #FEFEF2;
  height: 50%;
}

#flex-container button {
  height: 20px;
}

input {
  font-size:12pt;
  width: 140px;
}

input[type='checkbox'] {
  width: 20px;
}

#mySideNav h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#mySideNav>ul {
  list-style: none;
}

#mySideNav button {
  border: 1px black solid;
  border-radius: 3px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
  background-color:white;
  cursor: pointer;
  color: black;
}

#mySideNav button:focus {
  outline: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#mySideNav input {
}

#task-name {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#time-limit {
  margin: 5px;
  margin-top: 0px;
}
/**your parent element**/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 0px, 0px 6px 20px;
    font-family: Helvetica;
    font-size: 14px;
    text-align: left;
    color: black;
}

.sidenav button {
  padding: 0px 4px;
  height: 20px;
  min-height: 5px;
}
/*this decorates all your links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    right: 10px;
    font-size: 16px;
    margin-left: 50px;
    z-index:99999999999;
}

#task-form {
  position: relative;
  left: 10px;
}

#taskform-error {
  display: inline-block;
}
.task-form-container{
  width: 80%;
  height: 80px;
  text-align: left;
}

.task-half {
  background: #F0F8FF;
  height: 50%;
}

#task-list {
  padding-left: 4px;
  margin: 0px;
  height: 100px;
  overflow: scroll;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#task-list:hover{
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,1);
}
.task-list-item {
  font-size: 14px;
  margin-bottom:10px;
}

.task-list-container {
  text-align: center;
}





.task-title {
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
}



#update-tasks-button {
  position: relative;
  top: -1px;
}

.website-form-container {
    width: 95%;
    height: 80px;
    padding-top: 6px;
    position: relative;
    left: 10px;
}

#website-form {
  height: 50px;
  margin-top: 5px;
}

#website-form button {
  margin-top: 5px;
}
